body{
	margin: 0;
	font-family:'cooper';
	background-image: url(../images/bas2.jpg);
}
#show{
	width: 1100px;
	height: 900px;
	/*border:1px solid black;*/
	border-radius: 20px;
	box-shadow:0 0 10px black;
	background: #fff;

	margin: 0px auto;
	position:relative;
}
.block,#blockc,#blockb{
	width: 140px;
	height: 220px;
	/*border:1px solid black;*/
	box-shadow:1px 1px 6px black;
	border-radius: 10px;
	/*background: blue;*/
	background-size: cover;
	opacity:0.95;
	cursor:pointer;


	position:absolute;

	font-size: 0;

}
.btn{
	width: 100px;
	height: 100px;
	/*border:1px solid black;*/
	box-shadow:1px 1px 6px black;
	border-radius: 50%;
	background: red;
	background-size: cover;
	opacity:0.95;
	cursor:pointer;	

	position:absolute;
	left:460px;

	font-size: 36px;
	text-align: center;
	line-height: 100px;
	color:white;

}